authors = ["kblanks@fastly.com"]
description = "Park your users in a virtual queue to reduce the demand on your origins during peak times."
language = "javascript"
manifest_version = 2
name = "Queuing / Waiting room (JS)"

[scripts]
  build = "npm run build"

[local_server]

  [local_server.backends]

    [local_server.backends.protected_content]
      override_host = "eventworld-static.s3-website.eu-west-2.amazonaws.com"
      url = "http://eventworld-static.s3-website.eu-west-2.amazonaws.com"

    [local_server.backends.upstash]
      override_host = "eu1-close-treefrog-37046.upstash.io"
      url = "https://eu1-close-treefrog-37046.upstash.io"

  [local_server.dictionaries]

    [local_server.dictionaries.config]
      file = "devconfig.example.json"
      format = "json"

[setup]

  [setup.backends]

    [setup.backends.protected_content]

    [setup.backends.upstash]

  [setup.dictionaries]

    [setup.dictionaries.config]

      [setup.dictionaries.config.items]

        [setup.dictionaries.config.items.jwt_secret]
          description = "Secret for JWT signing"

        [setup.dictionaries.config.items.upstash_token]
          description = "Token for Upstash REST API"

        [setup.dictionaries.config.items.upstash_url]
          description = "URL of Upstash service (e.g. https://eu1-close-treefrog-35041.upstash.io)"

  [setup.log_endpoints]

    [setup.log_endpoints.queue_logs]
