<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>eventWORLD | Virtual Queue</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    "
  >
    <div class="controls">
      <form method="POST" action="{{ adminBase }}/permit">
        <input type="number" name="amt" value="1" />
        <input type="submit" value="Let visitors in" />
      </form>
      <form method="POST" action="{{ adminBase }}/clear_self">
        <input type="submit" value="Reset my position" />
      </form>

      <br />

      <p>There are <em>{{ visitorsWaiting }}</em> visitors waiting to enter.</p>
    </div>
  </body>
</html>
